<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
</head>
<body>
<p th:text="${person.getFio() + ', ' + person.getYearOfBirds()}">VALUE</p>
<hr/>

<div  th:if="${books.isEmpty()}" th:text="'Человек не взял ни одной книги!'"></div>
<div  th:if="${not books.isEmpty()}"><strong>Книги:</strong></div>
<div  th:each="book : ${books}" th:if="${not books.isEmpty()}"  >
    <p th:if = "${book.isProsrochka() == false}" th:text="${book.getName() + ', ' + book.getNameOfCreator()+', '+book.getYearOfPublishing()}"></p>
    <p th:if = "${book.isProsrochka() == true}" style="color:red"
       th:text="${book.getName() + ', ' + book.getNameOfCreator()+', '+book.getYearOfPublishing()}"></p>
</div>

<form th:method="GET" th:action="@{/people}">
    <input type="submit" value="Вернуться к списку читателей"/>
</form>
<hr/>

<form th:method="GET" th:action="@{/people/{id}/edit(id=${person.getPersonId()})}">
    <input type="submit" value="Редактировать"/>
</form>
<br/>


<form th:method="DELETE" th:action="@{/people/{id}(id=${person.getPersonId()})}">
    <input type="submit" value="Удалить"/>
</form>
</body>
</html>